version: "3"
services:
  cockroachdb:
    image: cockroachdb/cockroach:latest
    command: ["start-single-node", "--listen-addr", "0.0.0.0", "--temp-dir", "/tmp", "--insecure"]
    read_only: true
    restart: unless-stopped
    tmpfs:
      - /tmp
    volumes:
      - cockroachdb-volume:/cockroach/cockroach-data:rw
    networks:
    - pokeapi_internal_network

  pokeapi:
    image: {% if registry_domain is defined %}{{ registry_domain }}{% endif %}{% if registry_path is defined %}{{ registry_path }}{% endif %}{% if container_tag is defined %}{{ ":" }}{{ container_tag }}{{ "\n" }}{% endif %}
    read_only: true
    restart: unless-stopped
    tmpfs:
      - /tmp
    depends_on:
      - cockroachdb
    env_file:
      - .app.env
    volumes:
      - statics-volume:/srv/app/static:rw
    networks:
    - default
    - pokeapi_internal_network

  nginx:
    image: nginx:mainline-alpine
    read_only: true
    restart: unless-stopped
    tmpfs:
      - /run
      - /var/cache/nginx
    depends_on:
      - pokeapi
    volumes:
      - ./vhost.conf:/etc/nginx/conf.d/default.conf:ro
      - statics-volume:/srv/app/static:ro
    networks:
    - proxy_internal_network
    - pokeapi_internal_network
    {% if proxy_rule_name is defined %}labels:
    - "traefik.enable=true"
    - "traefik.http.routers.{{ proxy_rule_name }}.entrypoints=web"
    - "traefik.http.routers.{{ proxy_rule_name }}-secure.entrypoints=websecure"
    - "traefik.http.routers.{{ proxy_rule_name }}.middlewares=redirect"
    - "traefik.http.routers.{{ proxy_rule_name }}.rule=HostRegexp({% if fqdn is defined %}`{{ fqdn|replace(' ', '`, `')|replace('*', '{subdomain:[a-zA-Z0-9-_]+}') }}{% endif %}`) && PathPrefix({% if pka_api_prefix is defined %}`{{ pka_api_prefix|replace(' ', '`, `') }}{% endif %}`)"
    - "traefik.http.routers.{{ proxy_rule_name }}-secure.rule=HostRegexp({% if fqdn is defined %}`{{ fqdn|replace(' ', '`, `')|replace('*', '{subdomain:[a-zA-Z0-9-_]+}') }}{% endif %}`) && PathPrefix({% if pka_api_prefix is defined %}`{{ pka_api_prefix|replace(' ', '`, `') }}{% endif %}`)"
    - "traefik.http.routers.{{ proxy_rule_name }}-secure.tls.certresolver=web"
    - "traefik.http.middlewares.redirect.redirectscheme.scheme=https"{% endif %}{{"\n"}}
volumes:
  cockroachdb-volume:
    driver: local

  statics-volume:
    driver: local

networks:
  default:
  pokeapi_internal_network:
    internal: true
    ipam:
      driver: default
      config:
      - subnet: "172.16.241.0/24"
  proxy_internal_network:
    external: true